.content__box__side
  .content__box__side__form
    .content__box__side__form__input-box
      %input#s.content__box__side__input-box__searchform__input{:name => "s", :placeholder => "検索", :type => "search", :value => ""}/
    %input.content__box__side__form__input-box__submit-btn{:name => "commit", :type => "submit", :value => "検索"}/

      

     