.commentbox {
  width: 100%;
  margin: 100px 0 100px 0;
  border-style: solid;
  border-width: 1px;
  &__text {
    width: 1000px;
    height: 100px;
    margin: 50px auto 30px auto;
    display: block;
    word-break: break-all;
  }
  &__submit {
    margin-top: 50px;
    display: block;
    height: 50px;
    width: 300px;
    border-radius: 10px;
    transition: 0.2s;
    transform: translateY(2px);
    margin: 0 auto;
    background-color: #57c3e9;
    font-size: 18px;
    color: white;
  }
  &__alert {
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
  }
  .commentbox__commentviewbox {
    margin-top: 30px;
    &__title {
      margin-left: 100px;
      &__comment {
        padding-top: 10px;
        p {
          margin-bottom: 0.3rem;
          a {
            text-decoration: none;
          }
        }
        &__text {
          margin-bottom: 15px;
        }
      }
    }
  }
}