* {
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  overflow: scroll;

  .content {
    width: 100%;
    height: 100%;
    margin-top: 2em;
    box-sizing: border-box;
    &__username {
      font-size: 30px;
    }
    &__box {
    height: 100%;
    width: 1180px;
    margin: 0 auto;
    
    
    &__main {
      height: 100%;
      width: 69%;
      float: left;
      margin-right: 20px;
      &__articlebox {
        height: 170px;
        width: 100%;
        border-style: solid;
        border-width: 1px;
        margin-bottom: 10px;
        &__titlebox {
          height: 70px;
          width: 100%;
          padding: 20px 0;
          margin-left: 2px;
          &__title {
            font-size: 20px;
            text-decoration: none;
            color: black;
          }
        }
        &__timebox {
          width: 100%;
          height: 20px;
          display: flex;
          font-size: 13px;
          margin-bottom: 20px;
          &__time {
            line-height: 20px;
            margin-left: 3px;
          }
          &__good {
            line-height: 20px;
            margin-left: 4px;
          }
        }
        &__tag {
          font-size: 13px;
          height: 20px;
          width: 100%;
          margin-left: 3px;
        }
      }
    }
    &__side {
      height: 90%;
      width: 28%;
      float: right;
      background-color: dimgrey;
        
      &__form {
        width: 100%;
        height: 100px;
        &__input-box {
          display: flex;
          width: 100%;
          height: 200px;
          margin-top: 20px;
          input[type="text"] {
            margin-left: 45px;
            width: 200px;
            height: 40px;
            line-height: 200px;
            }
          input[type="submit"] {
            height: 30px;
            width: 50px;
            border-radius: 10%;
            margin-top: 5px;
            margin-left: 5px;
            transition: 0.2s;
            transform: translateY(2px);
            }
          }
        }
        &__theme-box {
          width: 100%;
          height: 500px;
          &__theme {
            width: 100%;
            height: 40px;
            color: white;
            border-bottom-width:  white;
            border-bottom-style: solid;
            font-size: 20px;
          }
          &__article-box {
            width: 100%;
            height: 30px;
            margin-top: 10px;
            margin-left: 3px;
            &__article {
              font-size: 20px;
              color: white;
            }
          }
        }
      }
    } 
  }
}